[user]
    name = Jonathan Kim
    email = me@jonathan-kim.com

[hub]
    host = github.com

[rerere]
    enabled = 1

[alias]
    co = checkout
    br = branch
    brs = branch -a
    s = status -sb
    st = status
    ci = commit
    c = commit -am
    cim = commit -m
    amend = !git log --pretty=%B -1 | git commit -F - --amend
    addi = add -i
    a = add $(git rev-parse --show-toplevel)

    get = !git pull && git submodule init && git submodule update
    up = fetch -p origin
    send = push -u origin HEAD

    rmbr = !sh -c 'git branch -D "$0" && git push origin --delete "$0"'

    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
    yesterday = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative --before=12am --after=12am.yesterday --author="Jonathan" --branches
    today = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative --after=12am --author="Jonathan" --branches
    family = !git fetch --tags && git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative

    new = checkout -b
    save = stash --patch
    stashes = stash list
    stashed = stash show -p
    rmstash = stash drop

    undo = reset --hard HEAD~1
    clear = !git reset --hard HEAD && git clean -fd
    catchup = reset origin

    fig = config -l

[github]
    user = hijonathan

[url "git@github.com:"]
    insteadOf = "gh:"
    pushInsteadOf = "github:"
    pushInsteadOf = "git://github.com/"

[url "git://github.com/"]
    insteadOf = "github:"

[url "git@gist.github.com:"]
    insteadOf = "gst:"
    pushInsteadOf = "gist:"
    pushInsteadOf = "git://gist.github.com/"

[url "git://gist.github.com/"]
    insteadOf = "gist:"

[push]
    default = upstream

[color]
    diff = auto

[core]
    excludesfile = /Users/jonathankim/.gitignore_global

[diff]
    algorithm = patience
